/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/rgb.h>

#define ONE l
#define TWO 2 

&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi3 {
  compatible = "nordic,nrf-spim";
  status = "okay";

  pinctrl-0 = <&spi3_default>;
  pinctrl-1 = <&spi3_sleep>;
  pinctrl-names = "default", "sleep";

  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    label = "WS2812";

    /* SPI */
    reg = <0>; /* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;

    /* WS2812 */
    chain-length = <10>; /* number of LEDs */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN
                          LED_COLOR_ID_RED
                          LED_COLOR_ID_BLUE>;
  };
};

/{
    chosen {
        zmk,underglow = &led_strip;
    };
};

/{
    behaviors
    {
        layer_one:layer_one{
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_ONE";
            #binding-cells = <0>;
            tapping-term-ms = <190>;
            bindings = <&lt ONE &sl 1>,  <&tog 1>;
        };
        layer_two:layer_two{
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TWO";
            #binding-cells = <0>;
            tapping-term-ms = <190>;
            bindings = <&lt TWO &sl 2>,  <&tog 2>;
        };
        pkey: pkey{
            compatible = "zmk,behavior-tap-dance";
            label = "PKEY";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&mt LBKT P>, <&mt LBRC MINUS>;
        };
         bkspc: bkspc{
            compatible = "zmk,behavior-tap-dance";
            label = "BKSPC";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&mt RBKT BKSP>, <&mt RBRC EQUAL>;
        };
    };
 keymap {
                compatible = "zmk,keymap";
                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | LCTRL | LGUI | M02 |   | M01 | SPC  | BKSP |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &pkey    &bkspc
   &kp TAB &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp RET  
   &sk LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &sk RSHFT
                  &kp LCTRL &sk LGUI &layer_one   &layer_two &kp SPACE &kp BKSP
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &tog 0  &kp F1       &kp F2       &kp F3       &kp F4       &kp F5         &kp LNLCK &kp N7   &kp N8 &kp N9    &kp MINUS &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp N0 &kp N4 &kp N5 &kp N6 &kp TILDE  &kp PIPE
   &sk LSHFT  &rgb_ug RGB_TOG   &rgb_ug RGB_HUI   &rgb_ug RGB_HUD &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &kp MINUS   &kp N1   &kp N2 &kp N3    &kp  BSLH &sk RSHFT         
                          	        &kp LGUI     &rgb_ug RGB_EFF    &tog 2 &tog 2 &kp SPACE &kp RALT
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp GRAVE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp EQUAL              
   &kp LCTRL &bt BT_CLR &bt BT_PRV &bt BT_NXT   &trans   &trans      &kp LEFT &kp DOWN &kp UP        &kp RIGHT &kp SQT &kp GRAVE
   &sk LSHFT &caps_word   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                    	     &kp LCTRL &kp SPACE &tog 2 &tog 2 &kp RCTRL    &kp RALT
                        >;
                };
        };
   
};

